<!DOCTYPE html>
<html  lang="en"  xmlns:th:="http://www.thymeleaf.org"
       xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Hair salon templates for mens hair cut service provider.">
    <meta name="keywords" content="hair salon website templates free download, html5 template, free responsive website templates, website layout,html5 website templates, template for website design, beauty HTML5 templates, cosmetics website templates free download">
    <title>南航托运行李计算平台</title>
    <!-- Bootstrap -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i%7cMontserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Font Awesome -->
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet"/>
    <!-- Style -->
    <link th:href="@{css/style.css}" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a th:href="@{/index}"><img th:src="@{images/logo.png}" alt=""></a><h1 style="display: inline;">南方航空</h1>
            </div>
            <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
                <div class="navigation">
                    <div id="navigation">
                        <ul>
                            <li class="active"><a th:href="@{/index}">Home</a></li>
                            <ul>
                                <li><a href="#" title="Service List">Key Value</a></li>
                                <li><a href="#" title="Service Detail">Table data</a></li>
                                <li><a href="#" title="Service Detail">Article</a></li>
                            </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-caption">
                    <h2 class="page-title">托运 - 行李计费平台</h2>
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a th:href="@{/index}">Home</a></li>
                            <li class="active">KEY - VALUE</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="sidenav">
                    <h1> input your message </h1>
                    <p>we will help you to calculate your payment</p>
                    <form th::action="@{/Cal}" action="/Cal" method="post" th:object="${us}">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">航班路线</label>
                                <select class="form-control" th:field="*{road_type}">
                                    <option value ="0">国内航班</option>
                                    <option value ="1">日本、美洲、澳新、俄罗斯、迪拜以及新加坡始发与中国大陆间</option>
                                    <option value ="2">涉及中西亚的航程</option>
                                    <option value ="3">涉及内罗毕及土耳其的航程</option>
                                    <option value ="4">韩国始发到中国的行程</option>
                                    <option value ="5">其他国际航程</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">舱位</label>
                                <select class="form-control"th:field="*{site_type}">
                                    <option value ="0">头等舱</option>
                                    <option value ="1">公务舱</option>
                                    <option value ="2">明珠经济舱</option>
                                    <option value ="3">经济舱</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">行李件数</label>
                                <select class="form-control" th:field="*{package_num}">
                                    <option value ="0">0</option>
                                    <option value ="1">1</option>
                                    <option value ="2">2</option>
                                    <option value ="3">3</option>
                                    <option value ="4">4</option>
                                    <option value ="5">5</option>
                                </select>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-block">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <h1>Warning</h1>
                <p>1. 一些注意事项</p>
            </div>
        </div>

    </div>
</div>
<div class="footer">
    <!-- footer-->
    <div class="container">
    </div>
</div>
<!-- /.footer-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/menumaker.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/sticky-header.js"></script>
</body>

</html>