<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="白盒测试" verbose="1" >
    <test name="简单测试" preserve-order="true">
        <classes>
            <class name="com.example.demo.test.FirstTest">
                <methods>
                    <include name="onebag"/>
                    <include name="twobag"/>
                </methods>
            </class>
            <class name="com.example.demo.test.SecondTest">
                <methods>
                    <include name="onebag"/>
                    <include name="twobag"/>
                </methods>
            </class>
            <class name="com.example.demo.test.ThirdTest">
                <methods>
                    <include name="onebag"/>
                    <include name="twobag"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
